<!DOCTYPE html>
<html>
<head>
  <title>Sportal Pickup</title>
</head>
  <body>
      <h1>Sportal Pickup</h1>
      <div class="pickups_add">
            <h3>Add a new pickup game:</h3>
            <form class="" action="/pickups/add" method="post">
                <label>Pickup Game Name</label>
                <input type="text" name="pickup_name" required=""><br>
                <label>Sport</label>
                <select class="" name="sport_id">
                    <option value=1>Soccer</option>
                    <option value=2>Basketball</option>
                    <option value=3>Ultimate</option>
                    <option value=4>Miscellaneous</option>
                </select><br>
                <label>Location</label>
                <input type="text" name="location" required=""><br>
                <label>Date and Time</label>
                <input type="datetime" name="date_time" required=""><br>
                <label>Recurring Event?</label><br>
                <input type="radio" name="recurring" value="1"> Yes <br>
                <input type="radio" name="recurring" value="0"> No <br>
                <label>Skill Level</label>
                <select class="" name="skill_level">
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Expert">Expert</option>
                    <option value="All Levels Welcome">All Levels Welcome</option>
                </select><br>
                <label>Description</label>
                <input type="text" name="description"><br>
                <label>Email</label>
                <input type="email" name="email">
              <button type="submit" name="button">Add this Game</button><br>
            </form>

            <h3>Pickups Games</h3>
           {% if pickups is not empty %}
           <ul>
           {% for pickup in pickups %}
                   <h3>{{ pickup.getPickupName }}</h3>
                   <ul>
                       <li>Pickup Game Name: {{ pickup.getSportNameById(pickup.getSportId) }}</li>
                       <li>Location: {{ pickup.getLocation }}</li>
                       <li>Is this a Recurring Game?
                           {% if pickup.recurring == 1 %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                            </li>
                       <li>Skill Level: {{ pickup.getSkillLevel }}</li>
                       <li>Date and Time: {{ pickup.getDateTime }}</li>
                       <li>More Information: {{ pickup.getDescription }}</li>
                       <li>Contact Email: {{ pickup.getEmail }}</li>
                   </ul>
           {% endfor %}
           </ul>
        {% else %}
        <p>
           No games added yet!
        </p>
        {% endif %}

  </body>
</html>
